@keyframes scale-up {
    0%{ transform: scale(1)  }
    100%{ transform: scale(1.05) }
}

@keyframes scale-down {
    0%{ transform: scale(1.05)  }
    100%{ transform: scale(1) }
}

@keyframes marquee {
    0%{ left: 0; }
    50%{ left: -20px; }
    100%{ left: 0; }
}

@keyframes marquee30 {
    0%{ left: 0; }
    50%{ left: -30px; }
    100%{ left: 0; }
}

@keyframes marquee60 {
    0%{ left: 0; }
    50%{ left: -60px; }
    100%{ left: 0; }
}

@keyframes marquee90 {
    0%{ left: 0; }
    50%{ left: -90px; }
    100%{ left: 0; }
}

@keyframes marquee120 {
    0%{ left: 0; }
    50%{ left: -120px; }
    100%{ left: 0; }
}

@keyframes marquee150 {
    0%{ left: 0; }
    50%{ left: -150px; }
    100%{ left: 0; }
}

@keyframes marquee180 {
    0%{ left: 0; }
    50%{ left: -180px; }
    100%{ left: 0; }
}

@keyframes marquee210 {
    0%{ left: 0; }
    50%{ left: -210px; }
    100%{ left: 0; }
}

@keyframes image-right-in {
    0%{
        left: 800px;
        opacity: 0
    }
    75%{
        opacity: 0.25;
    }
    100%{
        left: 0;
        opacity: 1
    }
}

@keyframes image-right-out {
    0%{
        left: 0 ;
        opacity: 1
    }
    100%{
        left: 0;
        opacity: 0
    }
}

@keyframes image-left-in {
    0%{
        left: -1280px;
        opacity: 0
    }
    50%{
        opacity: 0.25
    }
    100%{
        left: -76px ;
        opacity: 1
    }
}

@keyframes image-left-out {
    0%{
        left: -76px;
        opacity: 1
    }
    100%{
        left: -76px ;
        opacity: 0
    }
}

@keyframes fade-out {
    0%{ opacity: 1 }
    100%{ opacity: 0}
}

@keyframes image-fade-in {
    0%{ opacity: 0 }
    100%{ opacity: 1}
}