$defaultFontFamily = 'Avenir', Helvetica, Arial, sans-serif  //默认全局字体

$linkColor = #e6b23e // 焦點颜色
$defaultFontColor = #2c3e50 //默認字體顏色

$bgImg = assets\/images\/hollywoodBG\.jpg //背景
//$leftTopIcon = \.\.\/assets\/images\/rankings.png //红色小角标